# AWS Configuration
aws_region  = "us-east-1"
environment = "local"

# Lambda Configuration
lambda_timeout     = 30  # seconds
lambda_memory_size = 1024 # MB

# CORS Configuration
enable_function_url_cors          = true
function_url_cors_allowed_origins = ["*"] 
function_url_cors_allowed_methods = ["POST", "OPTIONS"]
function_url_cors_max_age         = 86400 # 24 hours

