name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    uses: ./.github/workflows/tests.yml
    with:
      go-version: '1.24.4'
      node-version: '22'
